<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/showAll.css">
    <title>showAll</title>
</head>
<body>
    <h1>RECTANGLES</h1>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Color</th>
            <th></th>
        </tr>
        <tr th:each="rectangle:${rt}">
            <td th:text="${rectangle.uid}"></td>
            <td>
                <a th:href="@{/rectangles/edit/{pathitem}(pathitem=${rectangle.uid})}">
                    <p th:text="${rectangle.name}"></p>
                </a>
            </td>
            
            <td th:text="${rectangle.color}"></td>
            <td>
                <a th:href="@{/rectangles/delete/{pathitem}(pathitem=${rectangle.uid})}">DELETE</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/add.html}">Add Rectangle</a>
</body>
</html>